*{
    font-family: 'Montserrat', sans-serif;
    text-overflow: hidden;
    color: #3674b5;
}
html{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    margin: 0;
    background-image:linear-gradient(to right, #3674b5,#a1e3f9,#a1e3f9, #578fca) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px -1px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: white;
}
header h3{
    font-weight: bold;
    cursor: pointer;
}
header h3:hover{
    color: blue;
    text-decoration: underline;
}
#logo{
    width: 100px;
    float: left;
}

i:hover, #logout:hover{
    color: blue;
}
#logout{
    border: 0;
    background-color: transparent;
    font-weight: bold;
}
#right{
   display: flex;
   gap: 20px;
}
.fa-solid.fa-bars{
    position: absolute;
    left: 20px;
}


#to-student{
    position: absolute;
    top: 15%;
}
#to-admin{
    position: absolute;
    top: 20%;
}
#to-employee{
    position: absolute;
    top: 25%;
}

#notif-modal{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.5);
    position:fixed;
    top: 80px;
    right: 0;
    width: 20%;
}
#notifs{
    display: flex;
    flex-direction: column;
}
#notif{
    padding: 5%;
    border: 1px solid rgba(128, 128, 128, 0.5);
}
.hide{
    display: none;
}