#employee-oasis-accounts {
    text-decoration: underline;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

#search-student {
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 20%;
    height: 30px;
    border-radius: 5px;
}

#accounts {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    height: 40%;
}

table {
    width: 100%;
    margin-top: 3%;
}

table, table th, table td {
    text-align: center;
    /* Removed border: 2px solid #3674b5; */
    border-collapse: collapse;
    padding: 12px;
    background-color: white;
}

table th {
    background-color: #3674b5; /* Changed to most used color in this snippet */
    color: white; /* Added for better contrast */
}