#OPC-button {
    text-decoration: underline;
}

#payor-info {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    border-bottom: 5px solid #3674b5;
    height: 40%;
}

#forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#form-pair input, #form-pair label {
    background-color: #edf1d6;
    border: none;
    pointer-events: none;
}

#tuition-fees {
    width: 70%;
    margin: 20px auto;
    height: 40%;
}

table {
    width: 100%;
    
}

table, table th, table td {
    text-align: center;
    /* Removed border: 2px solid #3b74b5; */
    border-collapse: collapse;
    padding: 12px;
    background-color: white;
}

table th {
    background-color: #3674b5; /* Changed to most used color */
    color: white; /* Added for better contrast */
}

#payment {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #3674b5;
    padding-bottom: 20px;
}

#total {
    margin-top: 20px;
    text-align: center;
}

#payment-method, #payment-channel {
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #3674b5;
    border-radius: 20px;
    width: 200px;
    background-color: white;
}

#payment-method-channel {
    display: flex;
    flex-direction: column;
}

#pay-button {
    border: 2px solid #3674b5;
    font-weight: bold;
    font-size: large;
    border-radius: 40px;
    padding: 12px;
    background-color: white;
    position: relative;
    top: 10px;
}

#pay-button:hover {
    background-color: #3674b5;
    color: white;
}

#pay-button:active {
    background-color: ivory;
}

#dropdown-and-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10px;
}

#online-payment-history {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}