#student-information h3, #student-subjects h3{
    text-align: center;
}
#student-information,#student-subjects{
    width: 50%;
    margin: 8% 25%;
    padding: 2%;
    box-shadow: 0 0 5px -1px;
    overflow-x: hidden;
    background-color: white;
}
#student-dp{
    width:50%;
    height: 28%;
}
#photo-and-info{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    
}
#info-list{
    width: 100%;
}
#info{
    display: flex;
    gap: 10px;
    font-size: 20px;
}
#student-information #info input{
    flex-grow: 1;
    max-width: 500px;
    border: none;
    pointer-events: none;
    font-size: 20px;
}

#save{
    border: 1px solid #40513b;
    border-radius: 20px;
    width: 100px;
    background-color: white;
    padding: 10px;
    display: block;
    margin: auto auto 100px auto;
    font-weight: bold;
}
#save:hover{
    color: green;
}