#home-button{
    text-decoration: underline;
}
#student-information h3, #student-subjects h3{
    text-align: center;
    font-size: 30px;
}
#student-information,#student-subjects{
    width: 50%;
    margin: 8% 23%;
    padding: 2% 2% 2% 5%;
    box-shadow: 0 0 5px -1px;
    overflow-x: hidden;
    background-color: white;
    border-radius: 10px;
}
#student-dp{
    width:80%;
    height: 28%;
    border-radius: 50%;
}
#photo-and-info{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    
}
#info-list{
    width: 100%;
}
#info{
    display: flex;
    gap: 10px;
    font-size: 20px;
}
#student-information #info input{
    flex-grow: 1;
    max-width: 500px;
    border: none;
    pointer-events: none;
    font-size: 20px;
}

#save{
    border: 1px solid #3674b5;
    border-radius: 20px;
    width: 100px;
    background-color: white;
    padding: 10px;
    display: block;
    margin: auto auto 100px auto;
    font-weight: bold;
}
#save:hover{
    color: #3674b5;
}