body {
    font-family: Arial, sans-serif;
    background-color: #edf1d6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 105, 0.5), rgba(0, 0, 105, 0.5)), url('https://scontent.fmnl3-1.fna.fbcdn.net/v/t39.30808-6/445027272_913257637481067_3316481684191874903_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeETNL449nJmeSxIim082qbdGWAT5COuzB0ZYBPkI67MHbntuU-6_wMoWYC_Zjrh7QEmPS7OOLCx9LnoviweYcms&_nc_ohc=vvJqjKdw1xwQ7kNvgEtevPA&_nc_oc=AdjqvPeC55NFXEI708RK3cYjsQLddCtTFsNMk-RXmgTl4KdkC20H0Ha8o4M8Ynz3gaY&_nc_zt=23&_nc_ht=scontent.fmnl3-1.fna&_nc_gid=A2nF0c4uPSlRBriCD_PMnG2&oh=00_AYFWlDmOaVJeoh9oMv18R7XO5R6fXeDm0hLqFu_C9lywfQ&oe=67D216B0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.login-container {
    background-color: white;
    padding: 2%;
    box-shadow: 0 0 5px -1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
    width: 40%;
    text-align: center;
    
}

#logo{
    width: 10%;
}

h2 {
    margin-top: -15px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 60px;
    color: #3674b5;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    flex-shrink: 0;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: 2px solid #3674b5;
}


#username{
    margin-top: 30px;
}
#password{
    margin-top: 20px;
}


button {
    margin: auto;
    display: block;
    margin-top: 50px;
    width: 20%;
    padding: 10px;
    background-color: #3674b5;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: #3674b5;
    border: 1px solid #3674b5;
}

.message {
    margin-top: 15px;
}

#skip{
    position: absolute;
    bottom: 0;
    right: 0;
}
#forgot{
    cursor: pointer;
    text-decoration: underline;
    color: #578fca;
}
#forgot:hover{
    color: #A1E3F9;
}